<div class = "body">
    <div class="main-container">
        <div class = "container">
            <button matSuffix mat-mini-fab aria-label="Clear" class="cancelButton">
                <mat-icon>clear</mat-icon>
            </button>
            <div class="twitter-logo"><img class = "logo" src="../../assets/images/White_logo.png"></div>
        </div>
        <div class="signup-text">
            <span>Join Twitter today</span>
        </div>
        <div class="signup-form">
            <form [formGroup] = "SignUpForm">
                <div>
                    <mat-form-field appearance="outline" class="input">
                        <mat-label>Name</mat-label>
                        <input matInput type="text" formControlName="name" maxlength="50">
                        <button *ngIf="SignUpForm.controls['name'].value" matSuffix mat-icon-button aria-label="Clear" (click)="SignUpForm.controls['name'].setValue('')">
                        <mat-icon>clear</mat-icon>
                        </button>
                        <mat-error *ngIf="(SignUpForm.controls['name'].dirty)&&(SignUpForm.controls['name'].errors?.['required'] || SignUpForm.controls['name'].errors?.['minLength'] || SignUpForm.controls['name'].errors?.['maxLength'])">What's your name?</mat-error>
                        <mat-error *ngIf="(SignUpForm.controls['name'].dirty) && (SignUpForm.controls['name'].errors?.['pattern'])">Name is invalid</mat-error>
                    </mat-form-field>
                </div>
                <div class="word-counter">{{SignUpForm.controls['name'].value.length}} / 50</div><br/>
                <div>
                    <mat-form-field appearance="outline" class="input">
                        <mat-label>User Name</mat-label>
                        <input matInput type="text" formControlName="screenName" maxlength="50">
                        <button *ngIf="SignUpForm.controls['screenName'].value" matSuffix mat-icon-button aria-label="Clear" (click)="SignUpForm.controls['screenName'].setValue('')">
                        <mat-icon>clear</mat-icon>
                        </button>
                        <mat-error *ngIf="(SignUpForm.controls['screenName'].dirty)&&(SignUpForm.controls['screenName'].errors?.['required'] || SignUpForm.controls['screenName'].errors?.['minLength'] || SignUpForm.controls['screenName'].errors?.['maxLength'])">Please provide username!</mat-error>
                        <mat-error *ngIf="(SignUpForm.controls['screenName'].dirty) && (SignUpForm.controls['screenName'].errors?.['pattern'])">Username is invalid</mat-error>
                    </mat-form-field>
                    <div class="word-counter">{{SignUpForm.controls['screenName'].value.length}} / 50</div><br/>
                </div>
                <div>
                    <mat-form-field appearance="outline" class="input">
                        <mat-label>Email</mat-label>
                        <input matInput type="email" formControlName="email">
                        <button *ngIf="SignUpForm.controls['email'].value" matSuffix mat-icon-button aria-label="Clear" (click)="SignUpForm.controls['email'].setValue('')">
                        <mat-icon>clear</mat-icon>
                        </button>
                        <mat-error *ngIf="(SignUpForm.controls['email'].dirty)&&(SignUpForm.controls['email'].errors?.['required'])">Please provide Email!</mat-error>
                        <mat-error *ngIf="(SignUpForm.controls['email'].dirty) && (SignUpForm.controls['email'].errors?.['pattern'])">Email is invalid</mat-error>
                    </mat-form-field><br/><br/>
                </div>
                <div>
                    <mat-form-field appearance="outline" class="input">
                        <mat-label>Password</mat-label>
                        <input matInput [type]="hide ? 'password' : 'text'" formControlName="password" maxlength="10">
                        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                        </button>
                        <mat-error *ngIf="(SignUpForm.controls['password'].dirty)&&(SignUpForm.controls['password'].errors)">Password should be of min 6 and max 10 characters and should contain atleast one Upper case, Lower case, digit and special character</mat-error>
                    </mat-form-field>
                    <div class="word-counter">{{SignUpForm.controls['password'].value.length}} / 10</div><br/>
                </div>
            </form>
            <div class="next-button" (click)="next()">
                <div>
                    <span class="next-text">Next</span>
                </div>
            </div><br/>
        </div>
    </div>
</div>
