.main-container{
    border-radius: 15px;
    margin-left: 30.5%;
    background-color: black;
    color: white;
    margin-top: 2%;
    width: 40%;
}

.input{
    margin-left: 15%;
    width: 70%;
}

.container{
    display: flex;
}

.body{
    width: 100%;
    height: 100%;
}

.cancelButton{
    margin: 1.25%;
}

.twitter-logo{
    text-align: center;
    margin: 0.5%;
    display: flex;
    justify-content: center;
}

.logo{
    width:358%;
    margin-left: 468%;
}

.signup-text{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: xx-large;
    margin-left: 28%;
    padding-bottom: 3%;
    font-weight: 600;
}

.next-button{
    border-color: rgba(0, 0, 0, 0);
    background-color: rgb(239, 243, 244);
    color: black;
    font-size: 15px;
    font-weight: 700;
    font-family: system-ui;
    border-radius: 22px;
    padding: 1.5%;
    margin-left: 15%;
    text-align: center;
    width: 68%;
    transition-duration: 0.4s;
    margin-top: 3.25%;
}

.next-button:hover{
    background-color: rgba(239, 243, 244, 0.863);
    cursor: pointer;
}

.next-button:active{
    background-color: rgba(239, 243, 244, 0.805);
    cursor: pointer;
}

::ng-deep .mat-mini-fab.mat-accent{
    background-color: black;
    color: white;
}

::ng-deep .mat-mini-fab.mat-accent:hover{
    background-color: rgba(81, 80, 80, 0.341);
    color: white;
}

::ng-deep .mat-form-field-label{
    color:rgb(255 255 255 / 38%);
}

::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline{
    color:rgb(255 255 255 / 38%);
}

::ng-deep .mat-focused .mat-form-field-label {
    /*change color of label*/
    color: rgb(29, 155, 240) !important;
}

::ng-deep .mat-form-field-appearance-outline.mat-focused .mat-form-field-outline-thick {
    color: rgb(29, 155, 240) !important;
}

.word-counter{
    margin-left: 79%;
    margin-top: -80px;
    margin-bottom: 10%;
    font-size: 71%;
    color: rgb(255 255 255 / 38%);
}